html,body {
	
	margin:0;
	padding:0;

}

body {
	
	background: #110B15;
	color: #D6D6D6;
	font: 16px/28px;
	line-height:22px;
}

a:hover{color:#333;text-decoration:underline;}



	#container {

			width: 1400px;
			margin: 0 auto;
			background: linear-gradient(180deg, rgba(153, 31, 1, 0.00) 23.64%, rgba(255, 52, 1, 0.22) 145.29%);
		
		}
			
		/*** HEADER ***/

		#header	{
				
				width: 100%;
				background-color: #822227;
				padding: 1rem 2rem;
				box-sizing: border-box;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

		#header h1 {
				
				font-family: 'Syne', sans-serif;
				font-weight: bold;
				font-size: 2.75rem;
				letter-spacing: -0.02em;
				color: #D6D6D6;
				margin: 0;
				text-transform: none;
			}
			
		.header-control {
				
				display: flex;
				align-items: center;
				gap: 1.5rem;
			}

		.search-container {
				
				display: flex;
				align-items: center;
				gap: 0.5rem;
			}

		.search-input {
				
				background-color: #140F17;
				border: 1px solid #D5BF7A;
				border-radius: 2rem;
				padding: 0.5rem 0.5rem;
				color: #D5BF7A;
				height: 1.2rem;
				width: 10rem;
				outline: none;
				font-family:'Source Sans Pro', sans-serif;
				font-size: 0.875rem;
			}
				
			.icon-btn {

					background-color: #140F17;
					color: #D5BF7A;
					border: none;
					border-radius: 0.35rem;
					width: 2.3rem;
					height: 2.3rem;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					font-size: 1.5rem;
					transition: opacity 0.3s ease;
				}
			
			.icon.btn:hover {

				opacity: 0.8;

			}

		/*** DROP-DOWN MENU ***/

			.menu-container {

   				 position: relative;
    			display: inline-block;

			}

			.dropdown-menu {

    			display: none;
    			position: absolute;
    			top: 3.5rem;
    			right: 0;
    			background-color: #140F17;
    			border: 1px solid #D5BF7A;
    			border-radius: 0.35rem;
    			min-width: 12rem;
    			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    			z-index: 1000;
    			flex-direction: column;
    			overflow: hidden;

			}


			.dropdown-menu.show {

    			display: flex;

			}

			.dropdown-menu a {

    			color: #D5BF7A;
    			padding: 0.8rem 1.2rem;
    			text-decoration: none;
    			font-family: 'Source Sans Pro', sans-serif;
    			font-size: 1rem;
    			transition: background-color 0.3s ease, color 0.3s ease;
    			border-bottom: 1px solid rgba(213, 191, 122, 0.1);

			}

			.dropdown-menu a:last-child {

    			border-bottom: none;

			}

			.dropdown-menu a:hover {

    			background-color: #822227;
    			color: #D6D6D6;

			}

		/*** SLIDESHOW ***/	
			.slider-wrapper {

    			position: relative;
    			width: 100%;
			}

			#slider {

    			position: relative;
			
			}

			.nivo-html-caption {

   				 display: none;

			}
		  
			.nivo-caption {

    			position: absolute !important;
    			z-index: 999 !important;
    			opacity: 1 !important; 
    			display: block !important; 
    			visibility: visible !important;
    			background: rgba(15, 15, 15, 0.7) !important;
    			border-radius: 1rem !important;
    			bottom: 3rem !important;
    			left: 3rem !important;
   				width: 24rem !important;
    			padding: 1.5rem 2rem !important;
    			border: 1px solid rgba(255, 255, 255, 0.05) !important;
    			backdrop-filter: blur(4px);
    			box-sizing: border-box;

			}

			.nivo-caption p {

    			display: block !important;
  				margin: 0 !important;
    			padding: 0 !important;

			}

			.nivo-caption * {

    			opacity: 1 !important;
    			visibility: visible !important;
    			position: relative !important;
    			z-index: 1000 !important;
			}


			.nivo-caption .caption-content {

    			display: flex !important;
    			flex-direction: column !important;
    			align-items: flex-start !important;
    			gap: 0.4rem !important;
    			width: 100% !important;
    			height: auto !important;
			}


			.nivo-caption .kicker {

    			display: block !important;
    			font-family: 'Satoshi', sans-serif !important;
    			color: #FF3126 !important;
    			text-transform: uppercase !important;
    			font-size: 0.875rem !important;
    			font-weight: 700 !important;
    			letter-spacing: 0.05em !important;
    			margin: 0 !important;

			}

			.nivo-caption h2 {

    			display: block !important;
    			font-family: 'Syne', sans-serif !important;
    			color: #D6D6D6 !important;
    			font-size: 1.75rem !important;
    			font-weight: 700 !important;
    			margin: 0 !important;
    			text-transform: none !important;
    			line-height: 1.2 !important;

			}

			.nivo-caption .dlc-text {

    			display: block !important;
    			font-family: 'Syne', sans-serif !important;
    			color: #D5BF7A !important;
    			font-size: 1.25rem !important;
    			margin-bottom: 0.8rem !important;

			}

			.nivo-caption .btn-check {

   				display: inline-block !important;
    			background-color: #ff3b3b !important;
    			color: #D6D6D6 !important;
    			font-family: 'Satoshi', sans-serif !important;
    			font-weight: 700 !important;
    			padding: 0.5rem 1.25rem !important;
    			border-radius: 2rem !important;
    			font-size: 0.875rem !important;
    			text-decoration: none !important;

			}

			.nivo-caption .btn-check {

    			outline: none !important;
    			border: none !important;
    			box-shadow: none !important;

			}


			.nivo-caption .btn-check:focus,
			.nivo-caption .btn-check:active {

    			outline: none !important;
    			border: none !important;

			}

			.nivo-caption .btn-check:hover {

    			background-color: #822227 !important;

			}

			.theme-default .nivo-controlNav {
				
    			position: absolute !important;
    			z-index: 999 !important;
    			opacity: 1 !important;
    			display: block !important;
    			bottom: 1rem !important;
    			left: 50% !important;
    			transform: translateX(-50%) !important;
    			padding: 0 !important;
    			width: auto !important;
			}

			.theme-default .nivo-directionNav {

    			display: none !important;

			}

			.theme-default .nivo-controlNav a.active {

    			opacity: 1;
			
			}

		/*** TRIVIA ***/
		#trivia-section {

    		width: 100%;
    		padding: 3rem 2rem;
    		box-sizing: border-box;
    		display: flex;
    		flex-direction: column;
    		align-items: center;
    		gap: 2rem;

		}

		.section-title {

    		font-family: 'Syne', sans-serif;
    		font-size: 2rem;
    		color: #D6D6D6;
    		font-weight: 700;
    		margin: 0;
			padding-bottom: 1rem;
    		text-transform: none;

		}

		.section-title .text-gold {

    		color: #D5BF7A;

		}

		.cards-grid {

    		display: flex;
    		justify-content: space-between;
    		width: 100%;
    		gap: 1.5rem;

		}

		.image-card {

    		position: relative;
    		flex: 1;
    		border-radius: 1rem;
    		overflow: hidden;
    		aspect-ratio: 1 / 1;
   			text-decoration: none;
    		display: block;

		}

		.image-card img {

    		width: 100%;
    		height: 100%;
    		object-fit: cover;
    		opacity: 0.8;
    		transition: transform 0.4s ease, opacity 0.4s ease;

		}

		.card-label {

    		position: absolute;
    		bottom: 2rem;
    		left: 50%;
    		transform: translateX(-50%);
    		background-color: #140F17;
    		color: #D6D6D6;
    		font-family: 'Satoshi', sans-serif;
    		font-weight: 700;
    		font-size: 1.5rem;
    		padding: 0.8rem 4rem;
    		border: 1px solid #D5BF7A;
    		border-radius: 0.35rem;
    		text-transform: uppercase;
    		letter-spacing: 0.05em;
    		white-space: nowrap;
    		transition: background-color 0.3s ease;

		}

		.image-card:hover img {

   			transform: scale(1.05);
			opacity: 1;

		}

		.buttons-grid {

    		display: flex;
    		justify-content: space-between;
    		width: 100%;
    		gap: 1.5rem;

		}

		.action-btn {

    		flex: 1; 
    		background-color: #822227; 
    		color: #D6D6D6 !important;
    		font-family: 'Satoshi', sans-serif;
    		font-weight: 700;
    		font-size: 1.7rem;
    		text-align: center;
    		padding: 1rem 0;
    		border: 1px solid #D5BF7A; 
    		border-radius: 0.5rem; 
    		text-transform: uppercase;
    		letter-spacing: 0.05em;
    		text-decoration: none;
    		transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;

		}

		.action-btn:hover {

    		background-color: #D5BF7A; 
    		color: #140F17 !important;
    		text-decoration: none;
    		transform: translateY(-3px);

		}

		/* --- IMMAGINE CENTRATA --- */

		#news-section {

    		width: 100%;
    		padding: 3rem 0;
    		clear: both;
		
		}

		.news-banner-wrapper {
			
    		width: 100%;
    		max-width: 82rem;
    		margin: 0 auto;
    		padding: 0 2rem;
    		box-sizing: border-box;

		}

		.banner-img {

    		width: 100%;
    		height: auto;
    		display: block;
    		border-radius: 12rem 0 12rem 0;
    		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
			
		}	
		
		/*** NEWS SECTION ***/

		.news-title {

    		font-family: 'Syne', sans-serif;
    		font-size: 2rem;
    		font-weight: 700;
    		color: #ffffff;
    		text-align: center
		
		}

		.carousel-wrapper {

			display: flex !important;
			flex-direction: row !important;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin: 0 2rem;
			padding: 0 0 6rem 0;
			box-sizing: border-box;
		}

		.carousel-window {

    		flex: 1;
    		overflow: hidden !important;
    		margin: 0 3rem;
			padding: 4rem 6rem;
			box-sizing: border-box;
		}

		.carousel-arrow {
			
			flex-shrink: 0 !important;
			background-color: #D5BF7A;
			color: #140F17;
			border: none;
			border-radius: 50%;
			width: 3rem;
			height: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.2rem;
			cursor: pointer;
			transition: transform 0.2s ease;
			z-index: 10;

		}

		.carousel-arrow:hover {
			
			transform: scale(1.1);
		
		}

		.carousel-track {

			display: flex;
			flex-direction: row !important;
			gap: 3rem;

		}

		.carousel-track::-webkit-scrollbar {
			
			display: none;
		
		}

		.deck-card {

			flex: 0 0 13rem !important;
			height: 17rem;
			position: relative;
			cursor: pointer;

		}

		.card-front, .card-back {

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 0.8rem;
			border: 1px solid #D5BF7A;
			transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), z-index 0.4s;
			padding: 1.5rem;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;

		}

		.card-front {

			background-color: #822227;
			z-index: 2;
			justify-content: center;
			align-items: center;
			text-align: center;
			transform-origin: bottom center;

		}

		.card-front h3 {

			font-family: 'Syne', sans-serif;
			color: #ffffff;
			font-size: 1.5rem;
			margin: 0;

		}

		.card-back {

			background-color: #f8f8f8;
			z-index: 1;
			box-shadow: -0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.4);

		}

		.card-back .news-date {

			font-family: 'Satoshi', sans-serif;
			font-size: 0.75rem;
			font-weight: 700;
			color: #822227;
			margin-bottom: 0.5rem;

		}

		.card-back h4 {

			font-family: 'Syne', sans-serif;
			margin: 0 0 0.5rem 0;
			font-size: 1.35rem;
			color: #140F17;

		}

		.card-back p {

			font-family: 'Satoshi', sans-serif;
			font-size: 0.95rem;
			margin: 0;
			color: #333333;

		}

		.deck-card:hover .card-front {
			
			transform: rotate(6deg) translateX(1.5rem); z-index: 1;
		
		}

		.deck-card:hover .card-back {
			
			transform: rotate(-6deg) translateX(-4.5rem) translateY(-1.5rem);
			z-index: 50 !important;
		
		}
				
		/*** Contenuto evi ***/
		.item-evi		{width:280px;padding:20px;float:left;}
		
		/*** Messaggio ***/
		#mes-full		{width:920;padding:20px;clear:both;background: #e2e2e0;}	
			#mes-full p {font-family:pacifico;text-transform:uppercase;font-weight:normal;font-size: 28px;}				
		
		/*** Contenuto ***/
		#content		{width:620px;padding:20px;float:left;}
			#content .articolo	{border-bottom:1px solid #eee;min-height:190px;padding:0px 0 10px 0;}
			#content .articolo img{float:left;margin: 0 20px 0 0;}
			
			#content .last		{border-bottom:none;}

		/*** Sidebar ***/
		#sidebar		{width:260px;padding:20px;float:left;}
	
		/*** Footer ***/
		#footer			{width:920px;padding:20px;clear:both;background: #666;color:#fff}
		
		
/* Clear */
.clear{width:100%;clear:both;height:1px;background:#eee;}